.banner {
    width: 100%;
    margin-top: clamp(94px, 6rem, 120px);
    margin-bottom: clamp(62px, 4rem, 80px);
}
.banner .banner_area {
    width: 65%;
    aspect-ratio: 3 / 1;
    margin: auto;
    min-width: 700px;
    max-width: 1050px;
    background-image: url(../images/about_pic1.jpg);
    background-size: cover;
}
.banner .banner_area .banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 4%;
    gap: 1.5rem;
}
.banner .banner_area .banner_text h1 {
    font-size: clamp(36px, 2.5rem, 50px);
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 1.25em;
    color: #fff;
}
.banner .banner_area .banner_text h3 {
    font-size: clamp(20px, 1.5rem, 30px);
    letter-spacing: 0.1em;
    color: #fff;
}

.about {
    width: 100%;
    margin: clamp(62px, 4rem, 80px) 0;
}
.about .container-about {
    width: 62.5%;
    margin: auto;
    min-width: 700px;
    max-width: 1050px;
}
.about .container-about .about_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: clamp(62px, 4rem, 80px);
}
.about .container-about .about_wrap .about_info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.about .container-about .about_wrap .about_info .title h2 {
    font-size: clamp(30px, 2rem, 80px);
    font-weight: 900;
    letter-spacing: 0.1em;
    text-decoration: 4px #f90 underline;
}
.about .container-about .about_wrap .about_info .article {
    padding: 0.5rem;
}
.about .container-about .about_wrap .about_info .article p {
    font-size: clamp(14px, 1rem, 20px);
    letter-spacing: 0.1em;
    line-height: 1.5em;
}
.about .container-about .about_wrap .about_info .list {
    display: flex;
    width: 100%;
}
.about .container-about .about_wrap .about_info .list .card {
    width: 25%;
}
.about .container-about .about_wrap .about_info .list .card img {
    width: 100%;
    height: auto;
    display: block;
}
.about .container-about .about_button {
    display: block;
    padding: 0.7em 0;
    background-color: #f90;
    border: none;

    font-size: clamp(20px, 1.5rem, 30px);
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    color: #fff;

    margin: auto;
    margin-top: clamp(62px, 4rem, 80px);
}
.about .container-about .about_button:hover {
    background-color: #a10;
}

@media screen and (max-width: 768px) {
    .banner .banner_area {
        min-width: 520px;
    }
    .banner .banner_area .banner_text h1 {
        font-size: clamp(32px, 2.25rem, 40px);
    }
    .about .container-about {
        min-width: 520px;
    }
}
@media screen and (max-width: 540px) {
    .banner .banner_area {
        /* width: 80%; */
        min-width: 320px;
    }
    .banner .banner_area .banner_text {
        padding-left: 2%;
        gap: 1.5rem;
    }
    .banner .banner_area .banner_text h1 {
        font-size: 2rem;
    }
    .banner .banner_area .banner_text h3 {
        font-size: 1rem;
    }
    .about .container-about {
        min-width: 320px;
    }
    .about .container-about .about_wrap .about_info .article p {
        font-size: 1rem;
    }
}