.step {
    width: 100%;
    margin-top: clamp(62px, 4rem, 68px);
}
.step .step_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: clamp(62px, 4rem, 68px) 0 clamp(30px, 2rem, 36px);

    width: 50%;
    min-width: 640px;
}
.step .step_bar .step_arrow {
    width: 12%;
}
.step .step_bar .step_arrow img {
    width: 100%;
    height: auto;
}
.step .step_bar .step_item {
    display: flex;
}
.step .step_bar .step_item .step_number {
    display: flex;
    justify-content: center;
    width: clamp(28px, 1.75rem, 32px);
    height: clamp(28px, 1.75rem, 32px);
    font-size: clamp(24px, 1.5rem, 28px);
    color: #fff;

    border-radius: 50%;
    background-color: #ddd;
}
.step .step_bar .step_item .step_text {
    font-size: clamp(24px, 1.5rem, 28px);
    color: #ddd;
}
.step .step_bar .step_item.item3 .step_number {
    background-color: #000;
}
.step .step_bar .step_item.item3 .step_text {
    color: #000;
}
.checkout {
    width: 100%;
    margin-bottom: clamp(62px, 4rem, 68px);
}
.checkout .container-checkout {
    width: 52%;
    margin: auto;
    min-width: 666px;
}
.checkout .container-checkout .checkout_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 10 / 7.5;
    border-top: 1px solid #ddd;
}
.checkout .container-checkout .checkout_table .table_row {
    display: flex;
    position: relative;
    align-items: center;
    height: 20%;
    padding-left: 4rem;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}
.checkout .container-checkout .checkout_table .checkout_name,
.checkout .container-checkout .checkout_table .checkout_phonenum {
    padding-left: 6rem;
}
.checkout .container-checkout .checkout_table .checkout_receipt,
.checkout .container-checkout .checkout_table .checkout_pay {
    position: relative;
}
.checkout .container-checkout .checkout_table .checkout_receipt legend,
.checkout .container-checkout .checkout_table .checkout_pay legend {
    position: absolute;

    display: flex;
    align-items: center;
}
.checkout .container-checkout .checkout_table .table_row input[type="text"] {
    width: 22rem;
    margin-left: 2rem;
    padding: 0.75em;
    font-size: 1rem;
    border: 1px solid #000;
}
.checkout .container-checkout .checkout_table .table_row input[type="text"]:focus {
    outline: none;
    border: 2px solid #000;
}
.checkout .container-checkout .checkout_table .table_row input[type="text"]::placeholder {
    color: #ddd;
}
.checkout .container-checkout .checkout_table .table_row input[type="radio"] {
    margin-left: 3rem;
    /* margin-right: 2rem; */

    
    /* 隱藏預設 radio 按鈕 */
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}
.checkout .container-checkout .checkout_table .table_row input[type="radio"]:checked {
    box-shadow: 0 0 4px 0 #f90;
    background-color: #f90;
}
.checkout .container-checkout .checkout_table .table_row .error1 {
    display: none;
    position: absolute;
    right: 4%;
    font-size: 0.75rem;
    color: #a10;
}
.checkout .container-checkout .checkout_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: clamp(30px, 2rem, 36px);
}
.checkout .container-checkout .checkout_buttons .button {
    all: unset;
    padding: 0.7em 2.1em;
    background-color: #f90;

    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;

    cursor: pointer;
}
.checkout .container-checkout .checkout_buttons .prev {
    outline: 1px solid #000;
    background-color: #fff;
    color: #000;
}
.checkout .container-checkout .checkout_buttons .prev:hover {
    background-color: #000;
    color: #fff;
}
.checkout .container-checkout .checkout_buttons .next:hover {
    background-color: #a10;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}
@media screen and (max-width: 720px) {
    html {
        font-size: 12px;
    }

    .step .step_bar,
    .checkout .container-checkout {
        min-width: 480px;
    }
    .step .step_bar .step_arrow {
        width: 8%;
    }
    .step .step_bar .step_item .step_number {
        width: 1.75rem;
        height: 1.75rem;
        font-size: 1.5rem;
    }
    .step .step_bar .step_item .step_text {
        font-size: 1.5rem;
    }

    .checkout .container-checkout .checkout_table .table_row {
        padding-left: 3rem;
    }
    .checkout .container-checkout .checkout_table .checkout_name,
    .checkout .container-checkout .checkout_table .checkout_phonenum {
        padding-left: 5rem;
    }

    .checkout .container-checkout .checkout_table .table_row input[type="text"] {
        width: 22rem;
        margin-left: 2rem;
    }
    .checkout .container-checkout .checkout_table .table_row input[type="radio"] {
        margin-left: 2rem;
    }

    .checkout .container-checkout .checkout_table .table_row .error1 {
        right: 0;
    }
}
@media screen and (max-width: 540px) {
    html {
        font-size: 10px;
    }

    .step .step_bar,
    .checkout .container-checkout {
        min-width: 320px;
    }
    .step .step_bar .step_arrow {
        width: 6%;
    }

    .checkout .container-checkout .checkout_table .table_row {
        padding-left: 1rem;
    }
    .checkout .container-checkout .checkout_table .checkout_name,
    .checkout .container-checkout .checkout_table .checkout_phonenum {
        padding-left: 3rem;
    }

    .checkout .container-checkout .checkout_table .table_row input[type="text"] {
        width: 19rem;
        margin-left: 1rem;
    }
    .checkout .container-checkout .checkout_table .table_row input[type="radio"] {
        margin-left: 1rem;
    }

    .checkout .container-checkout .checkout_buttons .prev,
    .checkout .container-checkout .checkout_buttons .next {
        padding: 0.67em 1.7em;
    }
}










