.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero_pic1.jpg");
    background-size: cover;
    background-position: bottom;
}
.hero .hero_wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 33%;
    left: 6%;
}
.hero .hero_wrap .hero_text h3 {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-shadow: 0 0 0.2em #ddd;    
    color: #fff;

    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
.hero .hero_wrap .hero_text h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 1.25em;
    text-shadow: 0 0 0.1em #ddd;
    color: #fff;
}
.hero .hero_wrap .hero_button {
    display: block;
    padding: 0.7em 0;
    box-shadow: 0 0 0.5em #f90;
    background-color: #f90;
    border: none;

    font-size: clamp(20px, 1.5rem, 30px);
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    color: #fff;

    margin-top: 0.75em;
}
.hero .hero_wrap .hero_button:hover {
    box-shadow: 0 0 0.5em #a10;
    background-color: #a10;
    
}

.promo{
    width: 100%;
}
.promo .container-promo {
    width: 67%;
    margin: 5.5rem auto;
    min-width: 670px;
    max-width: 1120px;
}
.promo .container-promo .promo_block {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(9, 1fr);
    gap: 0.5rem;
}
.promo .container-promo .promo_block .promo_bigbox {
    grid-area: 1/1/2/10;

    display: flex;
    align-items: center;
    aspect-ratio: 920 / 250;
    padding-left: 10%;
    background-color: #eee;
    background-image: url("../images/promo_pic11.jpg");
    background-size: cover;
}
.promo .container-promo .promo_block .promo_bigbox h2 {
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #fff;
}
.promo .container-promo .promo_block .promo_lilboxes {
    grid-area: 2/1/3/6;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    /* height: 100%; */
}
.promo .container-promo .promo_block .promo_lilboxes .promo_lilbox {
    /* grid-column: 1 / 2; */

    width: 100%;
    /* background-color: #000; */
}
.promo .container-promo .promo_block .promo_lilboxes .box1 {
    position: relative;
    width: 100%;
    height: 100%;
}
.promo .container-promo .promo_block .promo_lilboxes .box1 p {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #fff;

    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.promo .container-promo .promo_block .promo_lilboxes .box1 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: fill;
}
.promo .container-promo .promo_block .promo_lilboxes .box2 {
    position: relative;
    background-color: #000;
    background-image: url("../images/promo_pic3.jpg");
    background-size: cover;
} 
.promo .container-promo .promo_block .promo_lilboxes .box2 a {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: #fff;
    opacity: 0.8;
}
.promo .container-promo .promo_block .coupon_box {
    grid-area: 2/6/3/10;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid #000; */
    background-color: #fda;
    
    /* height: 100%; */
}
.promo .container-promo .promo_block .coupon_box .coupon_title {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    color: #000;
}
.promo .container-promo .promo_block .coupon_box .coupon_input {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0;
}
.promo .container-promo .promo_block .coupon_box .coupon_input input {
    all: unset;
    width: 50%;
    padding: 0 0.5rem;
    border: none;
    box-sizing: border-box;
    background-color: #fff;
}
.promo .container-promo .promo_block .coupon_box .coupon_input input:focus {
    outline: none;
} 
.promo .container-promo .promo_block .coupon_box .coupon_input .coupon_button {
    all: unset;
    display: block;
    padding: 0.75em 2em;
    border: none;
    box-sizing: border-box;
    /* box-shadow: 0 0 0.75em 0 #f90; */
    background-color: #f90;

    font-size: clamp(14px, 1rem, 20px);
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;

    cursor: pointer;
}
.promo .container-promo .promo_block .coupon_box .coupon_input .coupon_button:hover {
    /* box-shadow: 0 0 0.5em #a10; */
    background-color: #a10;
}

.menu {
    width: 100%;
}
.menu .container-menu {
    width: 67%;
    margin: 5.5rem auto;
    min-width: 670px;
    max-width: 1120px;
}
.menu .container-menu .menu_block {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}
.menu .container-menu .menu_block .menu_slog {
    margin-right: auto;
}
.menu .container-menu .menu_block .menu_slog h2 {
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.1em;
}
.menu .container-menu .menu_block .menu_slog span {
    color: #f90;
}
.menu .container-menu .menu_block .menu_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.25rem;
}
.menu .container-menu .menu_block .menu_list .menu_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 1.25rem;
    cursor: pointer;
}
.menu .container-menu .menu_block .menu_list .menu_card:hover {
    opacity: 75%;
}
.menu .container-menu .menu_block .menu_list .menu_card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}    
.menu .container-menu .menu_block .menu_list .menu_card h4 {
    font-size: clamp(14px, 1rem, 20px);
    letter-spacing: 0.1em;
}
.menu .container-menu .menu_block .menu_button {
    display: block;
    padding: 0.75em 2em;
    background-color: #f90;
    border: none;

    font-size: clamp(14px, 1rem, 20px);
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;
    
    margin-left: auto;
}
.menu .container-menu .menu_block .menu_button:hover {
    /* box-shadow: 0 0 0.5em #a10; */
    background-color: #a10;
}

@media screen and (max-width: 1024px) {
    .hero .hero_wrap {
        top: 30%;
        left: 3%;
    }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 540px) {
    .hero .hero_wrap {
        top: 33%;
    }

}

@media (orientation: portrait) {
    .hero {
        background-image: url("../images/hero_pic1v2.jpg");
    }
    .promo {
        display: none;
    }
    .menu {
        display: none;
    }
}