.heading {
    width: 100%;
    margin-top: 66px;
}
.heading .heading_text {
    display: flex;
    justify-content: center;
    padding: 66px 0;
}
.heading .heading_text h1{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-decoration: 4px #f90 underline;
}
.menu {
    width: 100%;
    margin-bottom: 132px;
}
.menu .container-menu {
    width: 82.5%; 
    margin: auto;
    min-width: 825px;
}
.menu .container-menu .menu_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px 30px;
}
.menu .container-menu .menu_list .menu_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.menu .container-menu .menu_list .menu_card:hover {
    opacity: 75%;
}
.menu .container-menu .menu_list .menu_card .pic img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.menu .container-menu .menu_list .menu_card .text {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 4px;
}
.menu .container-menu .menu_list .menu_card .text h4 {
    font-size: 16px;
    letter-spacing: 0.05em;
}
.menu .container-menu .menu_list .menu_card .text p {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #f90;
}
