.heading {
    width: 100%;
    margin-top: clamp(62px, 4rem, 80px);
}
.heading .heading_text {
    display: flex;
    justify-content: center;
    padding-top: clamp(62px, 4rem, 80px);
    padding-bottom: clamp(78px, 5rem, 100px);
}
.heading .heading_text h1{
    font-size: clamp(30px, 2rem, 40px);
    font-weight: 900;
    letter-spacing: 0.1em;
    text-decoration: clamp(4px, 0.25rem, 5px) #f90 underline;
}

.stores {
    width: 100%;
    margin-bottom: clamp(126px, 8rem, 1460px);
}
.stores .container-stores {
    width: 67%;
    margin: auto;
    min-width: 700px;
    max-width: 1120px;
}
.stores .container-stores .stores_info {
    display: flex;
    gap: 2.5rem;
}
.stores .container-stores .stores_info .stores_pic {
    width: 45%;
    aspect-ratio: 1 / 1;

    /* padding-left: 2.5rem; */
}
.stores .container-stores .stores_info .stores_pic img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    
    transition: opacity 0.5s ease;
    opacity: 1;
}
.stores .container-stores .stores_info .stores_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.stores .container-stores .stores_info .stores_list .stores_item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.stores .container-stores .stores_info .stores_list .stores_item .stores_name h2 {
    font-size: clamp(22px, 1.5rem, 30px);
    font-weight: 900;
    letter-spacing: 0.1em;

    /* cursor: pointer; */
}
.stores .container-stores .stores_info .stores_list .stores_item .stores_address {
    display: flex;
    gap: 1rem;
}
.stores .container-stores .stores_info .stores_list .stores_item .stores_address p {
    font-size: clamp(17.2px, 1.2rem, 24px);
    text-decoration: underline;
    letter-spacing: 0.1em;
    color: #000;
    cursor: pointer;
}
.stores .container-stores .stores_info .stores_list .stores_item .stores_address p:hover {
    box-shadow: 0 0 1em 0 #fda;
    background-color: #ffddaaaa;
} 
.stores .container-stores .stores_info .stores_list .stores_item .stores_address img {
    width: 0.9em;
}

@media screen and (max-width: 1024px) {
    /* html {
        font-size: 16px;
    } */
}
@media screen and (max-width: 768px) {
    .stores .container-stores {
        width: 50%;
        min-width: 298px;
    }
    .stores .container-stores .stores_info {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 5rem;
    }
    .stores .container-stores .stores_info .stores_pic {
        width: 100%;
        height: auto;
    }
    .stores .container-stores .stores_info .stores_list {
        gap: 4rem;
    }
}