* {
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans TC", "Roboto", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 4.125rem;

    z-index: 999;
    
    background-color: #000;
}
header.transparent {
    background-color: transparent;
}
header .container-header {
    display: flex;
    height: 100%;
    margin: 0 6% 0 8%;

    min-width: 860px;
}
header .container-header .header_logo {
    height: 100%;
    margin-right: auto;
     /* 右邊空間撐開 */
}
header .container-header .header_logo img {
    height: 100%;
}
header .container-header .header_list {    
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.75rem;
    padding-right: 3.75rem;
    gap: 3.75rem;
    list-style: none;
}
header .container-header .header_list li a {
    display: block;  
    font-size: 1.375rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #fff;
    text-decoration: none;
}
header .container-header .header_list li a:hover {
    text-decoration: 0.25rem #f90 underline;
}
header .container-header .header_utility {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.75rem;
    gap: 1.375rem;
}
header .container-header .header_utility img {
    display: block;
    height: 1rem;
}


footer {
    width: 100%;
    height: 16.5rem;

    z-index: 999;

    background-color: #000;
}
footer .container-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 6% 0 8%;

    min-width: 920px;
}
footer .container-footer .footer_logo {
    height: 5.25rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}  
footer .container-footer .footer_logo img {
    height: 100%;
}  
footer .container-footer .footer_info {
    margin-left: 1.875rem;
    margin-bottom: 1.25rem;
}
footer .container-footer .footer_info p {
    font-size: 0.875rem;
    line-height: 1.25em;
    color: #fff;
}
