* {
    box-sizing: border-box;
}
::selection {
    background-color: #f90;
    color: white;
}
body {
    font-family: "Noto Sans TC", "Roboto", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: clamp(50px, 4.125rem, 74.25px);

    z-index: 999;
    
    background-color: #000;
}
header.transparent {
    background-color: transparent;
}
header .container-header {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 6% 0 8%;
}
header .container-header .header_logo {
    height: 100%;
    margin-right: auto;

    /* z-index: 9999; */
}
header .container-header .header_logo img {
    height: 100%;
}
header .container-header .header_list {    
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin-bottom: clamp(10px, 0.75rem, 15px);
    padding-right: clamp(60px, 3.75rem, 75px);
    gap: clamp(60px, 3.75rem, 75px);
}
header .container-header .header_list li a {
    display: block;  
    font-size: clamp(22px, 1.375rem, 27.5px);
    font-weight: 900;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;

}
header .container-header .header_list li a:hover {
    text-decoration: clamp(4px, 0.25rem, 5px) #f90 underline;
}
header .container-header .header_utility {
    display: flex;
    align-items: flex-end;
    margin-bottom: clamp(10px, 0.75rem, 13.5px);
    gap: clamp(22px, 1.375rem, 27.5px);
}
header .container-header .header_utility img {
    display: block;
    height: clamp(16px, 1rem, 20px);
}
header .container-header .header_toggle,
header .container-header .header_button {
    display: none;
}
header .container-header .header_burger {
    display: flex;
    align-items: flex-end;
    margin-bottom: clamp(10px, 0.75rem, 15px);    
}
header .container-header .header_burger .list,
header .container-header .header_burger .utility  {
    display: none;
}

footer {
    width: 100%;
    height: clamp(231px, 16.5rem, 330px);

    z-index: 999;

    background-color: #000;
}
footer .container-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0 6% 0 8%;
}
footer .container-footer .footer_logo {
    height: clamp(73.5px, 5.25rem, 105px);
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}  
footer .container-footer .footer_logo img {
    height: 100%;
}  
footer .container-footer .footer_info {
    margin-left: 1.875rem;
    margin-bottom: 1.25rem;
}
footer .container-footer .footer_info p {
    font-size: 0.875rem;
    /* font-size: clamp(14px, 0.875rem, 18px); */
    line-height: 1.25em;
    color: #fff;
}


@media screen and (min-width: 1440px) {
    html {
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    html {
        /* font-size: 14px; */
    }
    header .container-header .header_list,
    header .container-header .header_utility  {
        display: none;
    }

    header .container-header .header_button {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        bottom: 0;
        right: 6%;

        width: clamp(24px, 1.5rem, 28px);
        height: clamp(20px, 1.25rem, 24px);     
        margin-bottom: clamp(10px, 0.75rem, 16px);

        gap: clamp(4.8px, 0.3rem, 8.8px);

        cursor: pointer;

        z-index: 9999;
    }
    header .container-header .header_button:hover span {
        background-color: #f90;
        /* box-shadow: 0 0 0.5em #f90; */
    } 
    header .container-header .header_button span {
        display: block;
        height: clamp(3.2px, 0.2rem, 7.2px);
        background-color: #fff;
        border-radius: clamp(1.6px, 0.1rem, 5.6px);
    }

    header .container-header .header_burger {
        display: flex; 

        position: absolute;
        top: 0;
        right: 0;

        width: 0;
        height: 100vh;
        
        opacity: 0;
        transform: translateX(100%); 
        transition: 1s;
    }
    header .container-header .header_toggle:checked ~ .header_burger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        position: absolute;
        top: 0;
        right: 0;

        width: 250px;
        height: 100vh;
        padding-right: 6%;

        background-color: #000;

        opacity: 1;
        transform: translateX(0);
        transition: 1s;

        z-index: 9998;
    }
    header .container-header .header_toggle:checked ~ .header_burger .utility {
        display: flex;
        padding-top: 90px;
        gap: 16px;
    }
    header .container-header .header_toggle:checked ~ .header_burger .utility img {
        height: 20px;
    }
    header .container-header .header_toggle:checked ~ .header_burger .list {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        gap: 24px;
        
        transition: .5s;
    }
    header .container-header .header_toggle:checked ~ .header_burger .list a {
        display: block;  
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 0.1em;
        text-align: end;
        text-decoration: none;
        color: #fff;
    }
    header .container-header .header_toggle:checked ~ .header_burger .list a:hover {
        text-decoration: clamp(4px, 0.25rem, 8px) #f90 underline;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    header .container-header {
        padding: 0 4% 0 4%;
    }
    header .container-header .header_toggle:checked ~ .header_burger {
        width: 100%;
    }
    footer .container-footer {
        padding: 0 4% 0 4%;
    }
        header .container-header .header_toggle:checked ~ .header_burger .list {
        padding-top: 28px;
        gap: 28px;
    }
    header .container-header .header_toggle:checked ~ .header_burger .list a {
        /* font-size:  clamp(24px, 1.5rem, 28px); */
        font-size: 28px;
    }    
    header .container-header .header_toggle:checked ~ .header_burger .utility {
        padding-top: 90px;
        gap: 24px;
    }
    header .container-header .header_toggle:checked ~ .header_burger .utility img {
        /* height: clamp(20px, 1.25rem, 24px); */
        height: 24px;
    }
}

@media screen and (max-width: 540px) {
    html {
        font-size: 10px;
    }
}